<div>
  <common-head :blog="blog"></common-head>
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui form segment">
        <div class="field required">
          <label>用户名</label>
          <input type="text" name="name" placeholder="用户名嘻嘻" v-model="username">
        </div>
        <div class="field required">
          <label>密码</label>
          <input type="text" placeholder="密码" name="password" v-model="password">
        </div>
        <input type="submit" class="ui button fluid" value="登陆" @click="onSubmit">
      </div>
    </div>
  </div>
</div>
